@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --Cyan: #66E2DC;
  --Orange: #FA7453;
  --Yellow: #FFB964;
  --White: #FCFAF9;
  --Slate: #191826;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0rem 10rem 0rem;
  background-image: url(./assets/bg-main-desktop.png), url(./assets/bg-pattern-1.svg);
  background-repeat: no-repeat;
  background-size: cover, auto;
  background-position: center, top right;
  background-color: var(--White);
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

header{
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.hero{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

h1{
  font-size: 88px;
  padding-right: 12rem;
}

.hero>p{
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  padding-right: 24rem;
}

main{
  padding: 5rem 0rem;
}

.main-content{
  width: 100%;
  background-color: var(--Slate);
  background-image: url(./assets/bg-pattern-2.svg);
  background-position: 32% top;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 12px;
  padding: 0rem 4rem;
  gap: 2rem;
  position: relative;
}