@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --Cyan: #66e2dc;
  --Orange: #fa7453;
  --Yellow: #ffb964;
  --White: #fcfaf9;
  --Slate: #191826;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0rem 10rem 0rem;
  background-image: url(./assets/bg-main-desktop.png),
    url(./assets/bg-pattern-1.svg);
  background-repeat: no-repeat;
  background-size: cover, auto;
  background-position: center, top right;
  background-color: var(--White);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

header {
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

h1 {
  font-size: 88px;
  padding-right: 12rem;
}

p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
}

.hero > p {
  padding-right: 34%;
}

main {
  padding: 5rem 0rem;
}

.main-content {
  width: 100%;
  background-color: var(--Slate);
  background-image: url(./assets/bg-pattern-2.svg);
  background-position: 23rem top;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 12px;
  position: relative;
  height: 37.5rem;
  display: flex;
}

.img-cont,
.cta {
  position: absolute;
  height: 100%;
  width: 32rem;
}

.img-cont {
  left: 6.25rem;
  bottom: 6.25rem;
  display: flex;
}

.cta {
  right: 4rem;
  top: 5.56rem;
  color: var(--Slate);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: var(--Orange);
  border-radius: 16px;
  padding: 3.5rem;
  height: auto;
}

h3 {
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.cta > p {
  margin-bottom: 2.5rem;
}

span {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.price > span > h2 {
  font-size: 64px;
  line-height: 1.1;
}

.price > span > p {
  font-size: 20px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  font-size: 18px;
  line-height: 1.8;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.apple {
  color: var(--White);
  background-color: var(--Slate);
  transition: background-color 0.3s ease;
}

.apple:hover {
  background-color: var(--Cyan);
  color: var(--Slate);
}

.android {
  color: var(--Slate);
  background-color: var(--White);
  transition: background-color 0.3s ease;
}

.android:hover {
  background-color: var(--Yellow);
}

footer {
  color: var(--Slate);
  width: 100%;
  padding: 9rem 0rem 4rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  place-items: center;
  height: max-content;
}

.footer-logo {
  display: flex;
  align-items: start;
  height: 100%;
}
.footer-text {
  font-size: 14px;
  line-height: 1.5;
}
.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.socials > img {
  cursor: pointer;
  transition: filter 0.25s ease;
}

.socials img:hover {
  filter: brightness(0) saturate(100%) invert(78%) sepia(56%) saturate(820%)
    hue-rotate(329deg) brightness(108%) contrast(102%);
}

@media (max-width: 1023px) and (min-width: 768px) {
  body {
    padding: 0rem 2.5rem 0rem;
    background-image: url(./assets/bg-main-tablet.png),
      url(./assets/bg-pattern-1.svg);
  }

  .hero > h1 {
    letter-spacing: -1px;
    font-size: 64px;
  }

  .hero > p {
    font-size: 18px;
    padding-right: 11rem;
  }

  main {
    padding: 12.5rem 0rem;
  }

  .main-content {
    background-image: url(./assets/bg-pattern-2.svg);
    background-position: left top;
  }

  .img-cont {
    left: 2.6875rem;
    bottom: 10.5rem;
    display: flex;
  }

  .cta {
    width: 22.25rem;
    padding: 3rem;
  }

  .cta > div > p {
    font-size: 18px;
    line-height: 1.5;
  }

  footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: start;
    align-items: end;
    row-gap: 2rem;
  }

  .footer-logo {
    grid-column: 1;
    grid-row: 1;
  }

  .footer-text {
    grid-column: 1;
    grid-row: 2;
  }

  .footer-text > p {
    font-size: 16px;
  }

  .socials {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
}

@media (max-width: 767px) {
  body {
    padding: 0rem 1.25rem 0rem;
    background-image: url(./assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero > h1 {
    font-size: 40px;
    padding: 0;
  }

  .hero > p {
    padding: 0;
  }

  main {
    margin: 0 -1.25rem;
  }

  .main-content {
    background-position: center top;
    border-radius: 0;
    height: 23.75rem;
    margin-top: 110px;
  }

  .img-cont {
    left: 0;
    bottom: 15%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .img-cont > img {
    width: 210px;
    height: auto;
    object-fit: cover;
  }

  .cta {
    right: 0;
    top: 100%;
    width: auto;
    border-radius: 0rem;
    padding: 3rem 1.25rem 7rem;
  }

  .cta p {
    font-size: 16px;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    text-align: left;
    margin-top: 554px;
    padding: 4rem 1.25rem;
    gap: 2rem;
  }

  .socials {
    justify-content: start;
    gap: 2rem;
  }

  .footer-text > p {
    font-size: 16px;
  }

  footer > div {
    width: 100%;
  }
}
